@import '../core/variables.scss';
@import '../core/mixins.scss';
.form_filters {
  width: 200px;
  height: 100px;
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #0cb3c5, #9ed64f);
  box-shadow: 19px 5px 25px -3px rgba(0, 0, 0, 0.1);
  border: 2px solid #9dee2c;
  border-radius: 10px;
  @include tablet() {
    width: 400px;
    height: 140px;
  }
  @include desktop() {
    margin-left: 20px;
    margin-right: 20px;
  }

  &__byName {
    font-size: 1.4rem;
    font-family: $principal-font;
    font-weight: bold;
    &::placeholder {
      font-size: 1rem;
      opacity: 0.5;
      @include tablet {
        font-size: 1.5rem;
      }
    }
    @include tablet {
      width: 300px;
      height: 50px;
      font-size: 1.6rem;
    }
  }

  &__bySpecies {
    margin-bottom: 5px;
    font-size: 1.4rem;
    font-family: $principal-font;
    font-weight: bold;
    @include tablet {
      width: 300px;
      height: 50px;
      font-size: 1.6rem;
    }
  }
}

.label {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  margin-top: 5px;
}
